/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* general styling */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: rgb(74,189,205);
    background-image: linear-gradient(35deg, rgba(74,189,205,1) 0%, rgba(3,93,116,1) 52%, rgba(1,55,70,1) 100%);
}

.body__bg-overlay{
    background-color: rgba(0,0,0,0.25);
    width: 100vw;
    height: 100vh;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: between;
}

.container{
    width: 80%;
}

input, textarea{
    padding: 11px 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
}



input::placeholder, textarea::placeholder{
    font-family: "Poppins", sans-serif;
    color: rgba(6, 48, 59,0.6);
    font-weight: 400;
    font-style: italic;
    padding-left: 5px;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}



.w-100{
    width: 100%;
}

.ml-10{
    margin-left: 10px;
}
/* general styling */

/* contact us page start */

    main{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75vw;
        height: 70vh;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }

    .left-side{
        width: 30%;
        background-image: url("../images/nature-bg.avif");
        background-position: 99% 56%;
        background-repeat: no-repeat;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }

    .left-side__bg-overlay{
        background: rgba(0,0,0,0.35);
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .right-side{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        background-color: #135465;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
    }

    .right-side__bg-overlay{
        background-image: url("../images/right-side__bg.jpeg");
        width: 100%;
        height: 100%;
        opacity: 0.75;
        mix-blend-mode: luminosity;
        z-index: 1;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .right-side__header{
        position: absolute;
        top:10%;
        right: 32%;
        transform: translate(-7%,-50%);
        font-size: 2.5rem;
        z-index: 10;
        color: black;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .right-side__form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        margin: 0 auto;
        z-index: 10;
    }

    .right-side__email{
        width: 47%;
    }

    .right-side__name{
        margin-left: 6%;
        width: 47%; 
    }

    .right-side__button{
        padding: 10px 20px;
        font-weight: 600;
        cursor: pointer;
        color: #01151C;
        text-align: center;
        transition: 0.3s ease-in-out;
        border: none;
        display: block;
        border: 1px solid silver;
        
    }

    .right-side__button:hover{
        /* color: #0E6C71; */
        color: silver;
        background-color: #01151C;
        /* border: 0.5px solid #0E6C71; */
        
    }

    

/* contact us page end */

/* responsive media query start */

    @media screen and (min-width: 320px) and (max-width: 767px){
       body{
        overflow-x: hidden;
       }
        .main{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
        .left-side, .right-side{
        width: 100%;
       }
       .left-side{
        background-position-x: 100%;
        min-height: 25vh;
        border-bottom-left-radius: 0px;;
       }
       .right-side{
        min-height: 50vh;
        /* padding: 30px 0px; */
        border-bottom-left-radius: 10px;

       }

       .right-side__bg-overlay{
        height: 60vh;
        border-bottom-left-radius: 10px;
       }

       .right-side__first-row{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
       }

       .right-side__header{
        display: none;
       }

       .right-side__email{
        width: 100%;
       }

       .right-side__name{
        margin-left: 0px;
        width: 100%;
       }

       .right-side__button{
        width: 100%;
       }
    }


/* responsive media query end */